.border {
    border: 1px solid red;
}

.center-align {
    text-align: center;
}

.paddig-left-2per {
    padding-left: 2% !important;
}

.paddig-top-2rem {
    padding-top: 2rem !important;
}

.paddig-top-3rem {
    padding-top: 3rem !important;
}

.paddig-top-100px {
    padding-top: 100px;
}

@media only screen and (max-width: 414px) {
    .paddig-top-100px {
        padding-top: 20px;
    }
    .paddig-left-5per {
        padding-left: 20% !important;
    }
    .paddig-top-3rem {
        padding-top: 3rem !important;
    }
}